# PERFECT_CORP_API_KEY: Your API key for Perfect Corp Skin Analysis API
PERFECT_CORP_API_KEY="YOUR_API_KEY_HERE"

# PERFECT_CORP_API_URL: The endpoint for Perfect Corp Skin Analysis
PERFECT_CORP_API_URL="https://yce-api-01.makeupar.com/s2s/v2.0/task/skin-analysis"

APP_DEBUG=true